body{
  overflow-x: hidden;
}
#user-menu{
  position:absolute;
  top: 1rem;
  right: 1rem;
}
#user-menu span, #user-menu a{
  margin-left: 1rem;
}
#greeting{
  position:absolute;
  top: 1rem;
  left: 1rem;
}
#status{
  transition: all 0.5s;
  height: 2.25rem;
  margin-bottom:3rem;
}

#meal-input{
  margin: 3rem auto;
  background-color: #c5d5d6;
  border-color: #759596
}

.meal-entries{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.meal-entries > div{
  margin: 1.5rem;
  padding: 1rem;
  background-color: #c8e8e8;
  border: 1px solid #759596;
  border-radius: 15px;
  position:relative;
  flex-basis: 300px;
}

.meal-entries > div i{
  position: absolute;
  top: 5px;
  right: 5px;
}

.report > div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.report > div h3{
  margin: 1rem 0;
}
