
<div class="jumbotron">
  <h1 class='text-center'>Please Register</h1>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for='username' class='control-label col-md-2'>User Name:</label>
            <div class="col-md-10">
              <input type='text' id='username' ng-model='username' class='form-control' placeholder="User Name"/>
            </div>
          </div>
          <div class="form-group">
            <label for='password' class='control-label col-md-2'>Password:</label>
            <div class="col-md-10">
              <input type='password' ng-model='password' id='password' class='form-control' placeholder="Password"/>
            </div>
          </div>
          <div class="form-group">
            <label for='password-conf' class='control-label col-md-2'>Confirm:</label>
            <div class="col-md-10">
              <input type='password' ng-model='passwordConf' id='password-conf' class='form-control' placeholder="Password Confirmation"/>
            </div>
          </div>
          <div class="form-group">
            <label for='calorie-budget' class='control-label col-md-2'>Calorie Budget:</label>
            <div class="col-md-10">
              <input type='number' ng-model='calorie_budget' id='calorie-budget' class='form-control' placeholder="Daily Calorie Budget"/>
            </div>
          </div>
        </fieldset>
        <div class='text-center'>
          <a href='#/login' class='btn btn-default'>Log In</a>
          <button class='btn btn-primary' ng-click='register()'>Register</button>
        </div>
        <div class='text-center'>
          <h3 id='status'>{{status}}</h3>
        </div>
      </form>
    </div>
  </div>
</div>
